<div content class="col-12">
  <div class="row">
    <div class="col-12 ConteudoIcone">
    <div class="Icone">
     <fa-icon [icon] ="faArrowLeft" size="5x"></fa-icon>
    </div>
      </div>
      <div class="col-12 ConteudoTitulo">
    <div class="Titulo">
      Saidas
    </div>
      </div>
      <br>
      <div class="table-responsive" *ngIf="respostaAPI == false">
      <table class="table table-striped border-primary" style="margin-top: 3rem;">
      <thead style="background-color: #000040; color: white;">
      <tr>
        <th class="text-center">Ref</th>
        <th class="text-center">Visitante</th>
        <th class="text-center">Transportadora</th>
        <th class="text-center">Natureza</th>
        <th class="text-center">Data</th>
        <th class="text-center">Hora</th>
        <th class="text-center">Peso</th>
        <th class="text-center">Id Usuario</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let i of Saidas">
          <td scope="row" class="text-center">{{i.referencia}}</td>
          <td class="text-center">{{i.nomeVisitante}}</td>
          <td class="text-center">{{i.transportadora}}</td>
          <td class="text-center">{{i.natureza}}</td>
          <td class="text-center">{{i.dataSaida}}</td>
          <td class="text-center">{{i.horaSaida}}</td>
          <td class="text-center">{{i.pesoSaida}}</td>
          <td class="text-center">{{i.idUsuario}}</td>
        </tr>
      </tbody>
  </table>
      </div>
      <br>
      <div msgErro espacamentoErro class="alert alert-danger" role="alert" *ngIf="respostaAPI == true">
    <span style="align-items: center;">Não há dados a exibir</span>
      </div>
      <br>
      <div class="col-12">
        <div class="input-group col-12">
        <span class="input-group-text btn" id="addon-wrapping">Pesquisar</span>
        <input type="text" class="form-control" placeholder="Digite o dia da movimentação" [(ngModel)]="dataSaida">
        <span class="input-group-text btn" id="basic-addon2">Ex: dd-mm-aaaa</span>
        <button class="btn" (click)="pesquisarSaida()" botaoPesquisa style="margin-left: 1rem;">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
