.table{
    font-size: 10px;
    font-weight: 800;
}
.cabecalho{
    grid-area: cabecalho;
}
.navegacao{
    grid-area: navegacao;
    background-color: #000040;
}
.conteudo{
    grid-area: conteudo;
    padding: 3rem;    
}
.rodape{
    grid-area: rodape;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 13% 87%;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 'cabecalho cabecalho'
                         'navegacao conteudo'
                         'navegacao rodape';
}
