<div slideBar class="col-12">
<ul class="nav nav-pills flex-column justify-content-center align-items-start align-items-sm-start align-items-md-start align-items-lg-start align-items-lx-start mb-3 mt-3">
  <li>
    <a routerLink="/home/entradas" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#entradas"/></svg>
      Entradas
    </a>
  </li>
  <li>
    <a routerLink="/home/saidas" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#saidas"/></svg>
      Saidas
    </a>
  </li>
  <li>
    <a routerLink="/home/entradaFinalizada" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#finalizada"/></svg>
      Finalizada
    </a>
  </li>
</ul>
</div>

